body {
    background-color: black;
    color: rgb(182, 182, 182);
}
.login-section, .register-section {
    color: black
}
main {
    margin: 200px 20%;
}
.main-article h1 {
    font-family: serif;
}
.main-article .contact-div1, .contact-div2, .contact-div3, .contact-div4 {
    margin-top: 20px
}
.main-article .contact-div2 span, .contact-div3 span, .contact-div4 span {
    display: block;
}
@media only screen and (max-width: 416px) {
    main {
        margin: 20px 2%;
    }
}