ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.753);
}
ul.topnav li:first-child {
    font-size: 20px;
}
ul.topnav li:first-child h1::after {
    content: 'Bio';
    color: Red
}
ul.topnav > li:not(:first-child), ul.topRight {
    margin-top: 45px
}
ul.topRight {
    list-style-type: none;
    float: right;
}
ul.topRight input {
    width: 200px;
    font-size: 20px;
    padding-left: 5px;
    height: 30px;
    margin-top: 5px;
    border-radius: 10px 0 0 10px;
}
ul.topRight .input-group button {
    margin-top: 5px;
    height: 30px;
    color: blue;
    font-size: 20px;
    background-color: white;
    border-radius: 0 10px 10px 0;
}
ul.topRight form button {
    float: left;
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav ul.topRight li a:hover {
    background-color: rgb(61, 145, 255);
}
ul.topnav li:not(:first-child) a:hover:not(.active){
    background-color: rgb(61, 145, 255);
}

ul.topnav li a.active {
    background-color: rgb(236, 17, 207); 
    color: white;
    font-size: 25px
}


@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}