<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/bootstrapNav.css">

  </head>
  <body>

        <section>
                <article class="nav-article">
                        <nav class="navbar navbar-expand-lg navbar-dark">
                                <a class="navbar-brand" href="#"><h1>Bio</h1></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                                </button>
                              
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                  <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">Biljetter</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">Filmer</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="../index.html">Nyheter <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="../view/cenema.html">Biografer</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">Om Oss</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">Snacks</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">Events</a>
                                    </li>
                                  </ul>
                                  <form class="form-inline my-2 my-lg-0">
                                      <button class="btn btn-link">Registrera</button>
                                      <button class="btn btn-link">Logga in</button>
                                    <input class="form-control mr-sm-2" type="search" placeholder="Sök..." aria-label="Search">
                                    <button class="btn btn my-2 my-sm-0" type="submit"><i class="fa fa-search    "></i></button>
                                  </form>
                                </div>
                              </nav>
                </article>
            </section>

    <main>
        <section>
            <article class="main-article">
                <h1>Kontakta Oss</h1>
                <div class="contact-div1">
                <p>Kontakta oss via E-post</p>
                <p>På e-postadressen info@biobio.se kontaktar du oss om frågor eller åsikter som gäller biobesöket, webbplatsen osv.</p>
                </div>
                <div class="contact-div2">
                    <span> För reservation av rullstolsplats </span> 
                    <span>Telefon 08-56 26 00 00 </span >
                    <span>Öppet måndag - fredag 10:00-17:00, lördag - söndag 11:00-16:00</span >
                </div>
                <div class="contact-div3">
                    <span>För gruppbokning (fler än 8 biljetter) </span>
                    <span>Telefon 08-56 26 00 00 </span> 
                    <span>Öppet måndag - fredag 10:00-17:00, lördag - söndag 11:00-16:00</span>
                </div>
                <div class="contact-div3">
                    <span>För gruppbokning (fler än 8 biljetter)
                    <span>Telefon 08-56 26 00 00</span>   
                    <span>Öppet måndag - fredag 10:00-17:00, lördag - söndag 11:00-16:00</span>
                </div>
            </article>
        </section>
    </main>

    <div class="newsLetter">
      <span>Få nyhetsbrev: <input type="email" name="email" placeholder="Email"><button id="newsButton">Registrera</button></span>
  </div>

    <footer>
      
      <div>
          <ul class="nav-footer nav">
                <li class="active"><a href="../view/contact.html">Kontakta oss</a></li>
				<li><a href="../view/feedback.html">Lämna Feedback</a></li>
				<li><a href="../view/questions.html">Vanliga frågor</a></li>
				<li><a href="../view/jobs.html">Jobb</a></li>
                <li><a href="#">Om medlemskapet</a></li>
          </ul>
      </div>

      <br>

      <div>
          <ul class="nav-footer nav">			
              <li><a href="#">Biljetter</a></li>
              <li><a href="#">Filmer</a></li>
              <li><a href="#">Nyheter</a></li>
              <li><a href="#">Biografer</a></li>
              <li><a href="#">Snacks</a></li>
              <li><a href="#">Event</a></li>
              <li><a href="#">Om oss</a>
                  <div class="social-media">
                  <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter   "></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
              </li>
          </ul>
      </div>

      <div class="footerLastLine">
          <div>
              <p class="copyright"> BioBio ©2018. En del av Olas Popcorn Group</p>
          </div>
      </div>

  </footer>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>