
  <head>
    <link rel="stylesheet" href="../css/contact.css">

  </head>
  <section>
      <article class="main-article">
          <h1>Kontakta Oss</h1>
          <div class="contact-div1">
          <p>Kontakta oss via E-post</p>
          <p>På e-postadressen info@biobio.se kontaktar du oss om frågor eller åsikter som gäller biobesöket, webbplatsen osv.</p>
          </div>
          <div class="contact-div2">
              <span> För reservation av rullstolsplats </span> 
              <span>Telefon 08-56 26 00 00 </span >
              <span>Öppet måndag - fredag 10:00-17:00, lördag - söndag 11:00-16:00</span >
          </div>
          <div class="contact-div3">
              <span>För gruppbokning (fler än 8 biljetter) </span>
              <span>Telefon 08-56 26 00 00 </span> 
              <span>Öppet måndag - fredag 10:00-17:00, lördag - söndag 11:00-16:00</span>
          </div>
          <div class="contact-div3">
              <span>För gruppbokning (fler än 8 biljetter)
              <span>Telefon 08-56 26 00 00</span>   
              <span>Öppet måndag - fredag 10:00-17:00, lördag - söndag 11:00-16:00</span>
          </div>
      </article>
  </section>

<button onclick="topFunction()" id="myBtn" title="Go to top"><Span></Span></button>

<!--   <div class="newsLetter">
      <span>Få nyhetsbrev: <input type="email" name="email" placeholder="Email"><button id="newsButton">Registrera</button></span>
  </div> -->