<head>
<link rel="stylesheet" href="../css/bootstrapNav.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>


<!-- Footer -->
<footer>
        <div>
            <ul class="nav-footer nav">
                <li><a href="contact.html">Kontakta oss</a></li>
                <li><a href="feedback.html">Lämna Feedback</a></li>
                <li><a href="questions.html">Vanliga frågor</a></li>
                <li><a href="jobs.html">Jobb</a></li>
                <li><a href="membership.html">Om medlemskapet</a></li>
            </ul>
        </div>
    
        <br>
    
        <div>
            <ul class="nav-footer nav">
                <li><a href="tickets.html">Biljetter</a></li>
                <li><a href="films.html">Filmer</a></li>
                <li><a href="news.html">Nyheter</a></li>
                <li><a href="cenema.html">Biografer</a></li>
                <li><a href="snacks.html">Snacks</a></li>
                <li><a href="events.html">Event</a></li>
                <li><a href="about.html">Om oss</a></li>
            </ul>
        </div>
    
        <div class="footerLastLine">
            <div>
                <p class="copyright"> BioBio ©2018. En del av Olas Popcorn Group</p>
            </div>
            <div>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>