<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/bootstrapNav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
        <section>
            <article class="nav-article">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="index.html">
                        <h1>Bio</h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="tickets.html">Biljetter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="films.html">Filmer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="news.html">Nyheter <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cenema.html">Biografer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">Om Oss</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="snacks.html">Snacks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="events.html">Events</a>
                            </li>
                        </ul>
    
                        <a href="register.html">
                            <button class="btn btn-link">Registrera</button>
                        </a>
                        <a href="login.html">
                            <button class="btn btn-link">Logga in</button>
                        </a>
    
                        <form class="form-inline my-2 my-lg-0">
                            <input id="stretchableInput" tabindex="0" class="form-control mr-sm-2" type="search"
                                placeholder="Sök..." aria-label="Search">
                            <button class="btn btn my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </nav>
            </article>
        </section>
    </head>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>