<head>
    <!-- <link rel="stylesheet" href="../css/animation.css"> -->
</head>
<article id="carousel-article-threeMovies">
    <div class="container homeDiv">
        <div id="multiCarousel" class="carousel slide d-none d-md-block d-sm-block" data-ride="carousel" data-pause="hover">

            <ol class="carousel-indicators">
                <li data-target="#multiCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#multiCarousel" data-slide-to="1"></li>
                <li data-target="#multiCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Carousel items -->
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <a href="#multiCarousel">
                                <a href="film_.html"><img class="d-block" src="posters/cameragirl.jpg" alt="first slide"
                                        style="max-width:100%;"></a>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <a href="#multiCarousel">
                                <a href="film_1.html"><img class="d-block" href="include/film_1.html" src="posters/cinema.jpg"
                                        alt="second slide" style="max-width:100%;"></a>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <a href="#multiCarousel">
                                <a href="film_1.html"><img class="d-block" href="include/film_1.html" src="posters/coffeeshop.jpg"
                                        alt="third slide" style="max-width:100%;"></a>
                            </a>
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!--.item-->

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6 img-fluid">
                            <a href="#multiCarousel">
                                <img class="d-block" href="include/film_1.html" src="posters/controller.jpg" alt="fourth slide"
                                    style="max-width:100%;">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 img-fluid">
                            <a href="#multiCarousel">
                                <img class="d-block" href="include/film_1.html" src="posters/myror.jpg" alt="fifth slide"
                                    style="max-width:100%;">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 img-fluid">
                            <a href="#multiCarousel">
                                <img class="d-block" href="include/film_1.html" src="posters/notering.jpg" alt="sixth slide"
                                    style="max-width:100%;">
                            </a>
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!--.item-->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6 img-fluid">
                            <a href="#multiCarousel">
                                <img class="d-block" href="include/film_1.html" src="posters/posters.jpg" alt="seventh slide"
                                    style="max-width:100%;">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 img-fluid">
                            <a href="#multiCarousel">
                                <img class="d-block" href="include/film_1.html" src="posters/stambyte.jpg" alt="eighth slide"
                                    style="max-width:100%;">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 img-fluid">
                            <a href="#multiCarousel">
                                <img class="d-block" href="include/film_1.html" src="posters/virtuell.jpg" alt="ninth slide"
                                    style="max-width:100%;">
                            </a>
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!--.item-->
            </div>
            <!--.carousel-inner-->
        </div>
</article>

<!-- Puffar för top 5 filmer -->
<article class="puff-article">
    <div class="container">
        <h2>Top 5 Filmer!</h2>
    </div>
    <div class="row justify-content-center" id="oneOf5Images">
        <div class="oneOf5Images col-md-2 col-sm-5 col-xs-10">
            <div class="puff-item">
                <div class="card">
                    <a href="#"><img src="posters/puff/posters.jpg" alt="image" class="card-img-top"></a>
                    <div class="card-body">
                        <p class="card-text">Posters</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="oneOf5Images col-md-2 col-sm-5 col-xs-10">
            <div class="puff-item">
                <div class="card">
                    <a href="#"><img src="posters/puff/notering.jpg" alt="image" class="card-img-top"></a>
                    <div class="card-body">
                        <p class="card-text">Noteringsboken</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="oneOf5Images col-md-2 col-sm-5 col-xs-10">
            <div class="puff-item">
                <div class="card">
                    <a href="#"><img src="posters/puff/virtuell.jpg" alt="image" class="card-img-top"></a>
                    <div class="card-body">
                        <p class="card-text">Virtuell Overklighet</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="oneOf5Images col-md-2 col-sm-5 col-xs-10">

            <div class="puff-item">
                <div class="card">
                    <a href="#"><img src="posters/puff/myror.jpg" alt="image" class="card-img-top"></a>
                    <div class="card-body">
                        <p class="card-text">Myrornas Krig</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="oneOf5Images col-md-2 col-sm-5 col-xs-10">

            <div class="puff-item">
                <div class="card">
                    <a href="#"><img src="posters/puff/coffeeshop.jpg" alt="image" class="card-img-top"></a>
                    <div class="card-body">
                        <p class="card-text">The Coffeeshop</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>

<!-- Puffar för bästsäljare -->
<article class="puff-article">
    <div class="container">
        <div class="row">
            <h2>Bästsäljare!</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2 col-sm-4 col-xs-12" id="oneOfFiveImages">
            <div class="card">
                <a href="#"><img src="posters/puff/street.jpg" alt="image" class="card-img-top"></a>
                <div class="card-body">
                    <p class="card-text">The street</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12" id="oneOfFiveImages">
            <div class="card">
                <a href="#"><img src="posters/puff/cameragirl.jpg" alt="image" class="card-img-top"></a>
                <div class="card-body">
                    <p class="card-text">Cameragirl</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12" id="oneOfFiveImages">
            <div class="card">
                <a href="#"><img src="posters/puff/cameragirl.jpg" alt="image" class="card-img-top"></a>
                <div class="card-body">
                    <p class="card-text">Cameragirl</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12" id="oneOfFiveImages">
            <div class="card">
                <a href="#"><img src="posters/puff/myror.jpg" alt="image" class="card-img-top"></a>
                <div class="card-body">
                    <p class="card-text">Myrornas Krig</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12" id="oneOfFiveImages">
            <div class="card">
                <a href="#"><img src="posters/puff/virtuell.jpg" alt="image" class="card-img-top"></a>
                <div class="card-body">
                    <p class="card-text">Virtuell Overklighet</p>
                </div>
            </div>
        </div>
    </div>
</article>

<!-- Go to top button  -->
<div class="toTop">
    <a id="upp" href="#top">Tillbaka till toppen</a>
</div>


<!-- Newsletter Registrer -->
<div class="newsLetter">
    <p>Få nyhetsbrev: <input type="email" name="email" placeholder="Email"><button class="newsButton">Registrera</button></p>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top"><Span></Span></button>
