<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
 -->    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>

    <main>
        <section>
            <article>
                    <div class="container">
                            <form action="/action_page.php">
                              <div class="row">
                                <h2 style="text-align:center">Logga in manuellt</h2>
                                <div class="vl">
                                  <span class="vl-innertext">eller</span>
                                </div>
                          
                                <div class="col">
                                  <a href="https://www.facebook.com/" class="fb btn">
                                    <i class="fa fa-facebook fa-fw"></i> Logga in med Facebook
                                   </a>
                                  <a href="https://twitter.com/" class="twitter btn">
                                    <i class="fa fa-twitter fa-fw"></i> Logga in med Twitter
                                  </a>
                                  <a href="https://accounts.google.com/signinchooser?flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="google btn"><i class="fa fa-google fa-fw">
                                    </i> Logga in med Google+
                                  </a>
                                </div>
                          
                                <div class="col">
                                  <div class="hide-md-lg">
                                    <p>Eller Logga in manuellt:</p>
                                  </div>
                          
                                  <input type="text" name="username" placeholder="Användarnamn" required>
                                  <input type="password" name="password" placeholder="Lösenord" required>
                                  <input type="submit" value="Logga in">
                                </div>
                                
                              </div>
                            </form>
                          </div>
                          
                          <div class="bottom-container">
                            <div class="row">
                              <div class="col">
                                <a href="#" class="btn">Logga in</a>
                              </div>
                              <div class="col">
                                <a href="#" class="btn">Glömt lösenord?</a>
                              </div>
                            </div>
                          </div>
                          
            </article>
        </section>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>