<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/membership.css">
    <link rel="stylesheet" href="../css/bootstrapNav.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/registeruser.css">
  </head>
  <body>
      <section>
          <article class="nav-article">
            <nav class="navbar navbar-expand-lg navbar-dark">
              <a class="navbar-brand" href="#"><h1>Bio</h1></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Biljetter</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Filmer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Nyheter</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="cenema.html">Biografer <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Om Oss</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Snacks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Events</a>
                  </li>
                </ul>
                <button class="btn btn-link" onclick="document.getElementById('id02').style.display='block'">Registrera</button>
                <button class="btn btn-link" onclick="document.getElementById('id01').style.display='block'">Logga in</button>
      
                <form class="form-inline my-2 my-lg-0">
                    
                  <input class="form-control mr-sm-2" type="search" placeholder="Sök..." aria-label="Search">
                  <button class="btn btn my-2 my-sm-0" type="submit"><i class="fa fa-search    "></i></button>
                </form>
              </div>
            </nav>
          </article>
    </section>
    
    <section class="login-section">
      <div id="id01" class="modal">
        <div class="logincontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <form class="modal-content animate" action="/action_page.php">
            
          <div class="container">
            <label for="uname"><b>Användarnamn</b></label>
            <input type="text" placeholder="Ange användarnamn..." name="uname" required>
      
            <label for="psw"><b>Lösenord</b></label>
            <input type="password" placeholder="Ange lösenord..." name="psw" required>
              
            <button type="submit">Logga in</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Komma ihåg mig?
            </label>
          </div>
      
          <div class="container" style="background-color: white">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Avbryta</button>
            <span class="psw">Glömt <a href="#">Lösenordet?</a></span>
          </div>
        </form>
          
      </div>
    </section>
    <section class="register-section">
        <div id="id02" class="modal">
            <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
          </div>

        <form class="modal-content animate" action="/action_page.php">
            
          <div class="container">
            <label for="uname"><b>E-post</b></label>
            <input type="text" placeholder="E-mejl adress..." name="uname" required>
      
            <label for="psw"><b>Lösenord</b></label>
            <input type="password" placeholder="Ange lösenord..." name="psw" required>
            <label for="psw"><b>Upprepa lösenord</b></label>
            <input type="password" placeholder="Ange lösenord..." name="psw" required>
              
            <button type="submit">Ok</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Komma ihåg mig?
            </label>
          </div>
      
          <div class="container" style="background-color: white">
            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Avbryta</button>
            <span class="psw">Glömt <a href="#">Lösenordet?</a></span>
          </div>
        </form>
      </div>
    </section>

    <main>
        <section>
            <article class="membership-article">
                <h1>membership</h1>
            </article>
        </section>
    </main>

    <div class="newsLetter">
        <span>Få nyhetsbrev:
          <input type="email" name="email" placeholder="Email">
          <button id="newsButton">Registrera</button>
        </span>
    </div>
        
    
    <footer>
      <div>
        <ul class="nav-footer nav">
            <li><a href="../view/contact.html">Kontakta oss</a></li>
            <li><a href="../view/feedback.html">Lämna Feedback</a></li>
            <li><a href="../view/questions.html">Vanliga frågor</a></li>
            <li><a href="../view/jobs.html">Jobb</a></li>
            <li class="active"><a href="../view/membership.html">Om medlemskapet</a></li>
        </ul>
      </div>
  
      <br>
  
      <div>
        <ul class="nav-footer nav">			
          <li><a href="#">Biljetter</a></li>
          <li><a href="#">Filmer</a></li>
          <li><a href="../index.html">Nyheter</a></li>
          <li><a href="cenema.html">Biografer</a></li>
          <li><a href="#">Snacks</a></li>
          <li><a href="#">Event</a></li>
          <li><a href="#">Om oss</a>
            <div class="social-media">
            <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter   "></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </li>
        </ul>
      </div>
  
      <div class="footerLastLine">
        <div>
          <p class="copyright"> BioBio ©2018. En del av Olas Popcorn Group</p>
        </div>
      </div>
    </footer>
          <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>