
  <head>
    <link rel="stylesheet" href="../css/membership.css">
  </head>
        <section>
            <article class="membership-article">
                <h1>Det här är medlemskapet i BioBio</h1>
                <ul>
                  <li><span>Kortlöst</span></li>
                  <li><span>Enklare och snabbare att köpa biljetter</span></li>
                  <li><span>Tillgång till dina biljetter på alla dina enheter</span></li>
                  <li><span>Poäng på din biobiljett och för köp i kiosken</span></li>
                  <li><span>Handla för dina poäng på sajten och i appen</span></li>
                  <li><span>Spara dina vänner, favoritbiografer och filmer i appen och webben</span></li>
                  <li><span>Få våra bästa erbjudanden</span></li>
                  <li><span>Bli inbjuden till medlemskvällar och förhandsvisningar av nya filmer</span></li>
                  <li><span>Få tillgång till biljetter till utvalda filmer före alla andra</span></li>
                </ul>
            </article>
            <article class="undertext-article">
              <p>Medlemskapet gäller på SF Bios biografer och alla medlemmar tjänar en poäng per krona på egen biobiljett 

                och på alla inköp i kiosken. Poängen kan sedan användas till att köpa biobiljetter och popcorn/snacks-menyer 
                
                i kiosken. Men du får också möjlighet att köpa biljetter till några av våra största premiärer före alla andra, 
                
                gå på medlemskvällar och får chansen delta i spännande tävlingar. Guldmedlemmar får dessutom inbjudningar 
                
                till exklusiva (och gratis!) förhandsvisningar av nya filmer.</p>
                <h1>Medlemsnivåer</h1>
                <p>Det finns två nivåer i medlemskapet: Medlem och Guldmedlem. För att bli Guldmedlem behöver du tjäna in 

                  1500 nivågrundande poäng ELLER göra 10 poänggivande besök under ditt medlemsår. Så fort du uppnår ett 
                  
                  av alternativen uppgraderar vi dig till Guldmedlem. <a href="">Logga in</a> i appen eller på sf.se så kan du under Mitt SF Bio</p>
            </article>
        </section>  
         
        <div class="newsLetter">
        <span style="color:white">Få nyhetsbrev:
          <input type="email" name="email" placeholder="Email">
          <button id="newsButton">Registrera</button>
        </span>
    </div>


        