<head>
    <link rel="stylesheet" href="../css/cenema.css">
</head>
<section class="news-article container">
    <div class="">
        <h1>Biografer</h1>
        <div class="parent-div">
            <div class="image-div">
                <img src="../images/pic.jpg" alt="">
            </div>
            <div class="news-div">
                <h3>Biograf 1</h3>
                <p>Adress</p>
                <p>Telefone</p>
                <p>111Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sapiente sed. Illum quisquam
                    possimus hic quam deserunt repellendus accusamus aperiam reiciendis cupiditate harum quae ipsum
                    modi, ipsam magni perspiciatis odio.</p>
            </div>
        </div>
        <div class="parent-div">
            <div class="image-div">
                <img src="../images/pic1.jpg" alt="">
            </div>
            <div class="news-div">
                <h3>Biograf 2</h3>
                <p>Adress</p>
                <p>Telefone</p>
                <p>222Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sapiente sed. Illum quisquam
                    possimus hic quam deserunt repellendus accusamus aperiam reiciendis cupiditate harum quae ipsum
                    modi, ipsam magni perspiciatis odio.</p>
            </div>
        </div>
        <div class="parent-div">
            <div class="image-div">
                <img src="../images/pic.jpg" alt="">
            </div>
            <div class="news-div">
                <h3>Biograf 3</h3>
                <p>Adress</p>
                <p>Telefone</p>
                <p>222Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sapiente sed. Illum quisquam
                    possimus hic quam deserunt repellendus accusamus aperiam reiciendis cupiditate harum quae ipsum
                    modi, ipsam magni perspiciatis odio.</p>
            </div>
        </div>
        <div class="parent-div">
            <div class="image-div">
                <img src="../images/pic1.jpg" alt="">
            </div>
            <div class="news-div">
                <h3>Biograf 4</h3>
                <p>Adress</p>
                <p>Telefone</p>
                <p>111Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sapiente sed. Illum quisquam
                    possimus hic quam deserunt repellendus accusamus aperiam reiciendis cupiditate harum quae ipsum
                    modi, ipsam magni perspiciatis odio.</p>
            </div>
        </div>
    </div>

<!--     <div class="row d-flex justify-content-end">
        <div class="toTop">
            <a id="upp" href="#top">Back to the top</a>
        </div>
    </div>
</section> -->

</div>

<button onclick="topFunction()" id="myBtn" title="Go to top"><Span></Span></button>