<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/questions.css">
    <link rel="stylesheet" href="../css/bootstrapNav.css">

  </head>
  <body>

    <section>
      <article class="nav-article">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="#">
            <h1>Bio</h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Biljetter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Filmer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Nyheter
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../view/cenema.html">Biografer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Om Oss</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Snacks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
              </li>
            </ul>
                          
            <a href="registerUser.html">
              <button class="btn btn-link">Registrera</button>
            </a>
            <a href="login.html">
              <button class="btn btn-link">Logga in</button>
            </a>
            <form class="form-inline my-2 my-lg-0">
    
              <input class="form-control mr-sm-2" type="search" placeholder="Sök..." aria-label="Search">
              <button class="btn btn my-2 my-sm-0" type="submit">
                <i class="fa fa-search    "></i>
              </button>
            </form>
          </div>
        </nav>
      </article>
    </section>
    
    <main>
        <section>
            <article class="questions-article">
                    <h1>Vanliga frågor</h1>
                <div class="div1">
                    <ul class="dl">
                        <li> Film med syntolkning</li>
                        <li> Varför kan jag inte se kommande veckas program?</li>
                        <li> Vad innebär åldersgränserna på filmerna som visas på bio?</li>
                        <li> Var kan jag köpa BioBio presentkort?</li>
                        <li> Hur gör jag för att söka jobb på BioBio?</li>
                    </ul>
                </div>
                <h1>Inför besöket</h1>
                <div class="div2">
                    <ul>
                        <li> Kan jag avboka eller boka om mina betalda biljetter?</li>
                        <li> Hur långt i förväg kan jag köpa mina biobiljetter?</li>
                        <li> Hur kan jag reservera biljetter?</li>
                        <li> Hur länge visas en film på biografen? </li>
                        <li> Kan jag ta med mig mitt spädbarn på bio?</li>
                    </ul>
                </div>
                <div class="div3">
                    <span>Vi rekommenderar inte att man tar med sig spädbarn på bio eftersom ljudnivån i en biografsalong är betydligt mer kraftfull och dynamisk än vad barnet är van vid,</span>
                </div>
                <h1>Frågor om medlemskap</h1>
                <div class="div4">
                    <ul>
                        <li> Kan jag avboka eller boka om mina betalda biljetter?</li>
                        <li> Hur långt i förväg kan jag köpa mina biobiljetter?</li>
                        <li> Hur kan jag reservera biljetter?</li>
                    </ul>
                </div>
            </article>
        </section>
    </main>

    <div class="newsLetter">
      <span>Få nyhetsbrev: <input type="email" name="email" placeholder="Email"><button id="newsButton">Registrera</button></span>
    </div>

    <footer>
      
      <div>
          <ul class="nav-footer nav">
            <li><a href="../view/contact.html">Kontakta oss</a></li>
            <li><a href="../view/feedback.html">Lämna Feedback</a></li>
            <li class="active"><a href="../view/questions.html">Vanliga frågor</a></li>
            <li><a href="../view/jobs.html">Jobb</a></li>
            <li><a href="../view/membership.html">Om medlemskapet</a></li>
          </ul>
      </div>
      
      <br>

      <div>
          <ul class="nav-footer nav">			
              <li><a href="#">Biljetter</a></li>
              <li><a href="#">Filmer</a></li>
              <li><a href="../index.html">Nyheter</a></li>
              <li><a href="cenema.html">Biografer</a></li>
              <li><a href="#">Snacks</a></li>
              <li><a href="#">Event</a></li>
              <li><a href="#">Om oss</a></li>
          </ul>
      </div>

    <div class="footerLastLine">
      <div>
        <p class="copyright"> BioBio ©2018. En del av Olas Popcorn Group</p>
      </div>
      <div class="social-media">
        <a href="#"><i class="fa fa-twitter   " aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>

    </footer>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>