<head>
  <link rel="stylesheet" href="../css/questions.css">

</head>

<section>
  <article class="questions-article">
    <h1>Vanliga frågor</h1>
    <div class="div1">
      <ul class="dl">
        <li> Film med syntolkning</li>
        <li> Varför kan jag inte se kommande veckas program?</li>
        <li> Vad innebär åldersgränserna på filmerna som visas på bio?</li>
        <li> Var kan jag köpa BioBio presentkort?</li>
        <li> Hur gör jag för att söka jobb på BioBio?</li>
      </ul>
    </div>
    <h1>Inför besöket</h1>
    <div class="div2">
      <ul>
        <li> Kan jag avboka eller boka om mina betalda biljetter?</li>
        <li> Hur långt i förväg kan jag köpa mina biobiljetter?</li>
        <li> Hur kan jag reservera biljetter?</li>
        <li> Hur länge visas en film på biografen? </li>
        <li> Kan jag ta med mig mitt spädbarn på bio?</li>
      </ul>
    </div>
    <div class="div3">
      <span>Vi rekommenderar inte att man tar med sig spädbarn på bio eftersom ljudnivån i en biografsalong är
        betydligt mer kraftfull och dynamisk än vad barnet är van vid,</span>
    </div>
    <h1>Frågor om medlemskap</h1>
    <div class="div4">
      <ul>
        <li> Kan jag avboka eller boka om mina betalda biljetter?</li>
        <li> Hur långt i förväg kan jag köpa mina biobiljetter?</li>
        <li> Hur kan jag reservera biljetter?</li>
      </ul>
    </div>
  </article>
</section>

<button onclick="topFunction()" id="myBtn" title="Go to top"><Span></Span></button>
<!-- 
<div class="newsLetter">
  <span>Få nyhetsbrev: <input type="email" name="email" placeholder="Email"><button id="newsButton">Registrera</button></span>
</div> -->